
<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
  <div class="container-fluid">

  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mp-7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">Add Customer</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form role="form" [formGroup]="registerform" (ngSubmit)="register()">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-name">
                    Name
                  </label>
                  <input type="text" formControlName="name" class="form-control">
                  <div *ngIf="formControls.name.errors && formControls.name.touched" class="text-danger">
                    <div *ngIf="formControls.name.errors.required">Name is required</div>
                  </div>
                </div>

              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-mob">Mobile</label>
                  <input type="number" class="form-control" formControlName="mobile">
                  <div *ngIf="formControls.mobile.errors && formControls.mobile.touched" class="text-danger">
                    <div *ngIf="formControls.mobile.errors.required">Mobile number is required</div>
                    <div *ngIf="formControls.mobile.errors.pattern"> Mobile number should be 10 digit</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-email">Email</label>
                  <input type="text" class="form-control" formControlName="email">
                  <div *ngIf="formControls.email.errors && formControls.email.touched" class="text-danger">
                    <div *ngIf="formControls.email.errors.required">Email is required</div>
                    <div *ngIf="formControls.email.errors.pattern">Invalid Email Address</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-City">Address Type</label>
                  <div class="custom-control custom-radio mb-3 " style="margin-right: 20px;">
                    <input value="Home" class="custom-control-input" id="customRadio6" type="radio" formControlName="addressType">
                    <label class="custom-control-label" for="customRadio6">Home</label>
                  </div>
                  <div class="custom-control custom-radio mb-3 " style="margin-right: 20px;">
                    <input value="Office" class="custom-control-input" id="customRadio7" type="radio" formControlName="addressType">
                    <label class="custom-control-label" for="customRadio7">Office </label>
                  </div>
                  <div class="custom-control custom-radio mb-3 " style="margin-right: 20px;">
                    <input value="Other" class="custom-control-input" id="customRadio8" type="radio" formControlName="addressType">
                    <label class="custom-control-label" for="customRadio8">Other</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-district">Address</label>
                  <textarea class="form-control" formControlName="address" [maxlength]="300"></textarea>
                  <span> ({{formControls.address.value.length}}/300 character)</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-country">
                    Feature
                  </label>
                  <div class="custom-control custom-radio mb-3 " *ngFor="let f of feature">

                    <input class="form-check-input" type="checkbox" [value]="f.name" [name]="f.name"
                           formControlName="features" (change)="selectfeature($event)">
                    <span class="form-check-label">
                      {{f.name}}
                    </span>
                  </div>
                  <div *ngIf="formControls.features.errors && formControls.features.touched" class="text-danger">
                    <div *ngIf="isFeature">Please select atleast one feature</div>
                  </div>


                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-pincode">Country</label>
                  <select class="form-control" formControlName="country" (change)="selectCountry($event)">
                    <option value="">Select Country</option>
                    <option *ngFor="let c of countries" [value]="c.country">{{c.country}}</option>
                  </select>
                  <div *ngIf="formControls.country.errors && formControls.country.touched" class="text-danger">
                    <div *ngIf="formControls.country.errors.required">Please select a valid country</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-ifscCode">state</label>
                  <select class="form-control" formControlName="state">
                    <option value="">Select State</option>
                    <option *ngFor="let c of states" [value]="c">{{c}}</option>
                  </select>
                  <div *ngIf="formControls.state.errors && formControls.state.touched" class="text-danger">
                    <div *ngIf="formControls.state.errors.required">Please select a valid country</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div formArrayName="tags" style=" width: 100%;">
              
                <div class="col-lg-6">
                  
                  <div class="form-group" style="margin-bottom:-3%">
                    <label class="form-control-label" for="input-ifscCode">Tags</label>
                    <div *ngFor="let itemRow of registerform.get('tags')['controls']; let i=index" [formGroupName]="i">
                      <input type="text" class="form-control mr-4 " style="width:50%;display:inline-block" formControlName="tag">
                      <div style="display:inline-block">
                        <button type="button" class="btn btn-yellow btn-primary my-4 mr-4" (click)="addNewRow()">
                          Add
                        </button>
                        <div *ngIf="formArray.controls.length > 1" style="display: inline-block;">
                          <button type="button" class="btn btn-yellow btn-primary my-4 mr-4" (click)="deleteRow(i,itemRow)">
                            Delete
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="custom-control mb-3 text-danger" *ngIf="formControls.tags.errors && formControls.tags.touched">
                  <div *ngIf="formControls.tags.errors && formControls.tags.touched">Please select atleast one tag</div>
                </div>
                <div *ngIf="isTagEmpty" class="text-danger">
                  <div class="custom-control mb-3 " *ngIf="isTagEmpty">tag should not be empty</div>
                </div>
              </div>
            </div>
            <div class="card-footer py-4 text-center">
              <button type="submit" class="btn btn-yellow btn-primary my-4" [disabled]="registerform.invalid">
                Save
              </button>
              <button type="button" class="btn btn-yellow btn-primary my-4" (click)="reset()">
                Reset
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
  
  <div class="container-fluid">
    {{registerData | json}}
  </div>
</div>
